@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "vag-rounded";
  src: url("/assets/fonts/vag-rounded-regular.ttf");
}


.title {
  font-family: "vag-rounded", sans-serif;
  text-color: #999999;
}

/* TODO: Make this appear open by default on larger screens */
/*details > summary {
  list-style: none;
}
*/

p {
  @apply pt-4;
}
